<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.16.2/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='csshelp.css') }}"/>

  <div class="py-4 artboard artboard-demo bg-base-200">


    <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
      <div class="px-80 mx-80 navbar-start">

      </div>
      <div class="hidden px-2 mx-2 navbar-center lg:flex">
        <div class="flex items-stretch">
          <a class="btn btn-ghost btn-sm rounded-btn" href="/home">
                  Home
                </a>
          <a class="btn btn-ghost btn-sm rounded-btn" href="/transfer">
                  Transfer
                </a>
          <a class="btn btn-ghost btn-sm rounded-btn" href="/buy">
                  Buy
                </a>
          <a class="btn btn-ghost btn-sm rounded-btn" href="/home">
                  About
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" href="/nft">
                        NFT
                      </a>
        </div>
      </div>
      <div class="navbar-end">
        <button class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
          </svg>
        </button>
        <button class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
      </div>
    </div>

    <title>Home</title>




  </head>
<div class="ttext">
  Actual price for one BTC: {{btc}}

</div>



<br>
<br>
<body>

<!-- <button class="btn btn-sm btn-primary" input type="submit" name="bitbutton" >Get Your Bitcoin adress</button> -->


        <button class="btn btn-sm btn-wrong"><a href="/my-link/">Get Your own Bitcoin Address</a></button>


<br>
<br>
  <div class="border stats border-base-300">
  <div class="stat">
    <div class="stat-title">Account balance</div>
    <div class="stat-value">{{sal}}Py</div>
    <div class="stat-actions">
      <a href="/buy">
      <button class="btn btn-sm btn-success">Add funds</button>
    </a>
    </div>
  </div>
  <div class="stat">
    <div class="stat-title">Current balance</div>
    <div class="stat-value">{{sal}}Py</div>
    <div class="stat-actions">
      <a href="/transfer">
      <button class="btn btn-sm btn-primary">Transfer</button>
    </a>
      <button class="btn btn-sm btn-primary">deposit</button>
    </div>
  </div>
</div>
<br><br><br>
<div class="overflow-x-auto">
  <table class="table w-full table-zebra">
    <thead>
          <tr>
            <th>Number</th>
            <th>Data</th>
            <th>hash</th>

          </tr>
        </thead>
{%for b in bc %}

<tbody>
<td>
  {{b.num}}
</td>
<td>
  {{b.arg}}
</td>

<td>
  {{b.hash()}}
</td>

  <tbody>
{%endfor%}

</table>


</div>



<div class="overflow-x-auto">
  <table class="table w-full">
<br><br><br>
For your security, only use trusted tools, websites and wallets, such as
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Coin Market Cap</td>
        <td>Info</td>
        <td>
          coinmarketcap.com
          <a href="coinmarketcap.com"></a>
        </td>
      </tr>
      <tr>
        <th>2</th>
        <td>Binance</td>
        <td>Exchange</td>
        <td>www.binance.com</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Coinbase</td>
        <td>Exchange</td>
        <td>coinbase.com</td>
      </tr>
      <tr>
        <th>4</th>
        <td>Trust</td>
        <td>Wallet</td>
        <td>trustwallet.com</td>
      </tr>
      <tr>
        <th>5</th>
        <td>Pancakeswap</td>
        <td>Exchange</td>
        <td>pancakeswap.finance</td>
      </tr>
    </tbody>
  </table>
</div>



</body>

<br><br><br><br><br><br><br><br><br>
<footer class="p-10 footer bg-base-300 text-base-content">
  <div>
    <span class="footer-title">Home</span>
    <a class="link link-hover">About</a>
    <a class="link link-hover">Technology</a>

  </div>
  <div>
    <span class="footer-title">NFT</span>
    <a class="link link-hover">Future</a>
    <a class="link link-hover">Contact</a>

  </div>
  <div>
    <span class="footer-title">Social</span>
    <div class="grid grid-flow-col gap-4">
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
          <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
        </svg>
      </a>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
          <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
        </svg>
      </a>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
          <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>

</html>
