
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Pjatk</title>
  </head>

  <header class="header">
      <div class="content">
          <h1 class="heading">
              <span class="small">Sign or log in to</span>

              <span class="no-fill">PyCoin</span>
          </h1>
          <a href="/register" class="btn">Register</a>
          <br>
          <br>
          <br>
          <a href="/login" class="btn">Login</a>
      </div>
  </header>


</html>
